[core]
        autocrlf = input
        pager = less -iXFR
        editor = vim
[color]
        ui = always
[apply]
        whitespace = fix
[alias]
        co = checkout
        add = add -a
        ca = commit -am
        cm = commit -m
        st = status -s
        dif = diff
        difc = diff --color-words
        lp  = log --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cd)%Creset' --abbrev-commit --date=rfc
        lpu = log --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset - %C(magenta)%cn%Creset' --abbrev-commit --date=relative
        lpn = log --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset - %C(magenta)%cn%Creset' --abbrev-commit --date=relative -n
        lpd = log --pretty=format:'%Cgreen%cd%Creset %Cred%h%Creset %C(yellow)%d%Creset %s' --abbrev-commit --date=short
        logg = log --grep
        log-tree= log --graph --oneline --decorate --all
[merge]
        log = true
[mergetool]
        keepBackup = true
[credential]
        helper = netrc -f ~/.netrc.gpg -v
[commit]
        gpgsign = true